*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	font-weight: 400;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.87);
	line-height: 1.5em;
}

:root {
	font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: clamp(14px, 1vw, 16px);
	color-scheme: dark;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 10px;
}

body {
	position: relative;
	background-color: #242424;
	min-height: 100vh;
	padding-top: 1em;
	min-height: 100vh;
}
nav, main {
	width: 90%;
	margin: 0 auto;
}
main {
	padding-bottom: 8em;
}

a:hover::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 2px;
}

code {
	font-family: "JetBrains Mono", monospace;
}

@media screen and (min-width: 960px) {
	nav, main {
		width: 75%;
	}
}
